<?xml version="1.0" encoding="utf-8"?>
<manifest package="artstesh.wordcards"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".NewWord"
            android:label="@string/add_newWord"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ChangeWordActivity"
            android:label="@string/change_word"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".AddText">
        </activity>
        <activity android:name=".TextStats">
        </activity>
        <activity android:name=".DictionaryStats">
        </activity>
    </application>

</manifest>
